.wa-app {
  min-height: 100vh;
  width: 100vw;
  min-width: 320px;

  display: flex;
  flex-direction: column;

  &__header {
    width: 100%;
    text-align: center;
    height: 64px;
    position: sticky;
    top: 0;
  }

  &__main {
    flex-grow: 1;
    padding: 24px;

    @media screen and (min-width: 768px) {
      padding: 40px;
    }
  }
}
